li.dev-item p {
    color: #667;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
    min-height: 40px;
}

li.dev-item a {
    color: #8e4dff;
    font-size:14px;
    text-decoration: none;
}

li.dev-item a:hover{
    color: #8e2da6;
}
li.dev-item{
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.02);
    border-radius: 2px;
}

li.dev-item header{
    display: flex;
    flex-direction:row;
    align-items:center;
}

li.dev-item header img{
    width:54px;
    height:54px;
    border-radius:50%;
}

li.dev-item header .user-info{
    margin-left: 10px;
}


/* Buttons desafio */

.button_container{
    position:relative;
    margin-top:10%;
}
.buttons{
    position:absolute;
    display:inline-block;
    bottom:0;
    width:100%;
    background-color:white;
    margin-top:10%;
}
.left{
    position:absolute;
    left:0;
    bottom:0;
    /* float:left;
    padding:5px;
    text-align:left; */
}
.right{
    position:absolute;
    right:0;
    bottom:0;
    /* float:right;
    padding:5px;
    text-align:right; */
}